<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title)) %></title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
                                            'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
   <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "sample app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '#' %></li>
            <li><%= link_to "Help",   '#' %></li>
            <li><%= link_to "Log in", '#' %></li>
          </ul>
        </nav>
      </div>
    <div class="container">
    <%= yield %> <!-- responsible for inserting the contents of each page into
                    the layout.using this layout ensures that when visiting a 
                    page such as pge/static_pages/home converts the contents of
                    home.html.erb to HTML and then inserts in place of
                    the **yield** -->
    </div>
  </body>
</html>