<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all',
                                            'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %> <!-- responsible for inserting the contents of each page into
                    the layout.using this layout ensures that when visiting a 
                    page such as pge/static_pages/home converts the contents of
                    home.html.erb to HTML and then inserts in place of
                    the **yield** -->
  </body>
</html>
